body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.main-container {
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 1000px;
  
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.columns {
  flex-basis: 1;
}

.rows{
  display: flex;
}

button {
  width:100px;
  margin-bottom: 100px;
}